<%- include("../../partials/header") %>
    <div class="container-xxl mt-5 px-3">
        <!DOCTYPE html>
        <html lang="en">

        <head>
            <title>Document</title>
        </head>

        <body>


            หน้าสายการแข่งขัน
            <!-- กรอบ box  -->
            <div class=" d-flex flex-column text-center h-auto mb-5 border border-dark rounded-3 "
                style="background:#D9D9D9 ;">

                <!-- menubar -->
                <%- include("../../partials/menuuser.ejs") %>

                    <!-- เนื้อหาด้านใน -->
                    <div class="row p-5">
                        <% for (let i=0; i <=10; i++){ %>
                            <div class="col-sm-3 border border-dark rounded-3">
                                <div class="card">

                                    <img src="" class="card-img-top  img-fluid" alt="photo_team"
                                        style="height: 15rem; background: url('https://api.iconify.design/fluent/people-team-16-filled.svg') no-repeat center center / contain;">
                                    <div class="card-body">
                                        <p class="card-text">Team </p>
                                    </div>
                                </div>
                            </div>
                            <% } %>


                    </div>
            </div>
        </body>

        </html>
    </div>