<%- include("../../partials/header") %>
<%- include("../../partials/sidebar") %>
           <div class="col py-3 mx-auto container-xxl ">

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>

</head>
<body>
    <h1><%= tournamentName %></h1>

        <%- include("../../partials/menu_staff.ejs") %>


          
</body>
</html>
</div>