<%- include("../../partials/header") %>
<%- include("../../partials/sidebar") %>
        <div class="col-10 py-3 mx-auto">

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>

</head>
<style>
    .line {
  position: absolute;
  width: 2px;
  background-color: black;
  z-index: -1;
}
</style>
<body>
    <h1><%= tournamentname %></h1>

        <%- include("../../partials/menu_staff.ejs") %>


          
</body>
</html>
</div>