<%- include("../../partials/header") %>
<%- include("../../partials/sidebar") %>
        <div class="col-10 py-3 mx-auto">

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>

</head>
<body>
    <h1><%= tournamentname %></h1>

        <%- include("../../partials/menu_staff.ejs") %>
    <h4>เลือกรูปแบบการแข่งขัน</h4>
          
</body>
</html>
</div>