<%- include('../partials/header.ejs') %><!-- nav top -->
    <%- include('../partials/sidebar.ejs') %> <!-- nav side -->
        <div class="col-10 py-3"> <!-- box content -->
            <!DOCTYPE html>
            <html lang="en">

            <head>
                <title>Document</title>
            </head>

            <body>

            </body>

            </html>
        </div>