
    
<!-- มีแค่  nav บน และข้างซ้าย -->
            <!-- เนื้อหาด้านใน -->
            <br>
            
              <div class=" py-3   ">
                
                <div class="   d-block mx-auto  w-75 py-1   fs-4 text-dark border border-pill border-dark  " style="background-color: #D9D9D9;" >
                  <!-- <img class="me-3" src="/docs/5.0/assets/brand/bootstrap-logo-white.svg" alt="" width="48" height="38"> -->
                  <div class="">
                    
                    <small>Path</small>
                  </div>
                </div>
              </div>
           
            


 