

<nav class="nav nav-pills flex-column flex-sm-row rounded text-decoration-none  " style="font-size: 1.125rem;background-color: #6daffe ; ">
  
  <a class="flex-sm-fill text-sm-center nav-link text-dark align-self-center p-3" href="/ongoing">เปิดรับสมัคร</a>
  <a class="flex-sm-fill text-sm-center nav-link text-dark align-self-center " href="/ongoing">อยู่ระหว่างแข่งขัน</a>
  <a class="flex-sm-fill text-sm-center nav-link text-dark align-self-center " href="/ending">เสร็จสิ้นการแข่งขัน</a>
  <a class="flex-sm-fill text-sm-center nav-link text-dark align-self-center " href="/search">ค้นหาการแข่งขัน</a>
  <a class="flex-sm-fill text-sm-center nav-link text-dark align-self-center " href="/result">อันดับ</a>
</nav>
