<!-- all rows -->

<div class=" m-0 px-2    w-100    rounded-3  " style="height: auto; background-color: #6DAFFE;">
                    
    <div class="row row-cols-xxl-5 row-cols-sm-2   row-cols-2 g-0 ">

        <div class="col-auto text-center py-2 ">
            <a href="/tnmsearch/detail/<%= tnmID %>" class="nav-link active align-mddle ">
                    <span class=" text-center">ข้อมูลการแข่งขัน</span>
            </a>
        </div>
        <div class="col-auto text-center py-2 ">
            <a href="/tnmsearch/participant/<%= tnmID %>" class="nav-link active align-mddle ">
                    <span class=" text-center">รายชื่อผู้เข้าแข่งขัน</span>
            </a>
        </div>
        <div class="col-auto text-center py-2 ">
            <a href="/tnmsearch/result/<%= tnmID %>" class="nav-link active align-mddle ">
                    <span class=" text-center">ผลการแข่งขัน</span>
            </a>
        </div>
        <div class="col-auto text-center py-2 ">
            <a href="/tnmsearch/highlight/<%= tnmID %>" class="nav-link active align-mddle ">
                    <span class=" text-center">ไฮไลต์</span>
            </a>
        </div>

        
        

    </div>
 </div>
   
<!---------------------------------------------------------------------------------------------------->