<%- include("../partials/header") %>
<%- include("../partials/sidebar") %>
        <div class="col-10 py-3">

<!DOCTYPE html>
<html lang="en">
<head>
    <title>เพิ่มคณะ</title>
</head>
<body>

    <% if (messages.error) { %>
        <div class="alert alert-danger" role="alert"><%= messages.error %></div>
    <% } %>
    

    <br><br>
    <div class="card" >
        <div class="card-header">เพิ่มคณะ</div>
        <div class="card-body">
            <form action="/faculty/add/" method="post">
                <div class="form-group">
                    <label>ชื่อคณะ:</label>
                    <input type="text" class="form-control" name="name" required>
                </div>
                <input type="hidden" name="uniID" value="<%= data[0].uniID%>">
                <div class="form-group" style="margin-top: 10px;">

                    <input type="submit" class="btn btn-info" value="เพิ่ม">
                </div>
            </form>
        </div>
    </div>

</body>
</html>
</div>