<%- include("partials/header") %>
<%- include("partials/sidebar") %>
        <div class="col-10 py-3">

<html lang="en">
	<head>
		<title>Deahboard</title>
	</head>
<body>
<div class="jumbotron">
	<h1>Welcome</h1>
	<p>Hello Dashboard</p>
</div>	
</body>
</html>
</div>