<html lang="en">
<%- include('./partials/header.ejs') %>
	<%- include('./partials/sidebar.ejs') %>
		<div class="col-10 py-3">
			<div class="jumbotron">
				<h1>Welcome</h1>
				<p>Hello Dashboard</p>
				<p>
					<a class="btn btn-lg btn-primary" href="/home/profile" title="">Profile View >></a>
				</p>
			</div>


		</div>