<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="text-center" style="margin-top: 50px;">
    <h1>404</h1>
    <h4>ขออภัยไม่พบหน้าเว็บไซต์ที่คุณต้องการ</h4>
    </div>
    
</body>
</html>