<%- include("../../../partials/header") %>
    <%- include("../../../partials/sidebar") %>
        <div class="col-10 py-3 mx-auto">

            <!DOCTYPE html>
            <html lang="en">

            <head>
                <title>แบบ4</title>

                <style>
                    .wrapper {
                      position: relative;
                      display: flex;
                      height: auto;
                      width: auto;
                      justify-content: start;
                    }
            
                    .item {
                      display: flex;
                      flex-direction: row-reverse;
                    }
            
                    .item p {
                      padding: 10px;
                      margin: 0;
                      min-width: 180px;
                      text-align: center;
                      background-color: rgb(228, 245, 243);
                    }
            
                    .item .box {
                      padding: 5px;
                      margin: 0;
                      min-width: 8em;
                      /* text-align: center; */
                      background-color: rgb(228, 245, 243);
                    }
            
                    .item-text {
                      position: absolute;
                      left: 0;
                      height: auto;
                      overflow: hidden;
                      font-size: 1em;
                      font-weight: bold;
                    }
                    .item-text span {
                      width: 9em;
                    }
            
                    .item-parent {
                      position: relative;
                      margin-left: 20px;
                      display: flex;
                      align-items: center;
                    }
            
                    .item-parent:after {
                      position: absolute;
                      content: '';
                      width: 10px;
                      height: 2px;
                      left: 0;
                      top: 50%;
                      background-color: #000000;
                      transform: translateX(-100%);
                    }
            
                    .item-childrens {
                      display: flex;
                      flex-direction: column;
                      justify-content: center;
                    }
            
                    .item-child {
                      display: flex;
                      align-items: flex-start;
                      justify-content: flex-end;
                      margin-top: 10px;
                      margin-bottom: 10px;
                      position: relative;
                    }
            
                    .item-child:before {
                      content: '';
                      position: absolute;
                      background-color: #000000;
                      right: 0;
                      top: 50%;
                      transform: translateX(100%);
                      width: 10px;
                      height: 2px;
                    }
            
                    .item-child:after {
                      content: '';
                      position: absolute;
                      background-color: #000000;
                      right: -10px;
                      height: calc(50% + 22px);
                      width: 2px;
                      top: 50%;
                    }
            
                    .item-child:last-child:after {
                      transform: translateY(-100%);
                    }
            
                    .item-child:only-child:after {
                      display: none;
                    }
                  </style>
            </head>
            <body>
                <h1>
                    <%= tournamentName %>
                </h1>

                <%- include("../../../partials/menu_staff.ejs") %>

                
                   

            </body>

            </html>
        </div>