* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .icon{
    width: 50px;
    height: 50px;
  }
  .cover {
      position: r;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  
    width: 50%;
    height: 20rem;
    background-color: white;
    border-radius: 50px;
  
    /* border-style: solid ; */
  }
  /* .item{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;
  } */
  
  .page {
    display: flex;
    justify-content: center;
    align-items: center;
   /* width: 100%; */
    height: 30em;
    background-color: #d9d9d9;
    border-radius: 50px;
    margin: 5em;
  }
  .cover label {
     
      align-self: flex-start;
    display: flex;
    justify-content: flex-start;
  }
  .cover input {
    max-width: 100px;
    height: 48px;
    left: 840px;
    top: 534px;
      padding:0 0.5rem;
    background: #d9d9d9;
    border: 1px solid #000000;
    border-radius: 2em;
  }
  .cover button {
    box-sizing: border-box;
    width: 109px;
    height: 36px;
    color: white;
  
    background: #004b76;
    border: 1px solid #000000;
    border-radius: 50px;
  }
  
  .cover button:hover {
    background-color: whitesmoke;

  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }