<%- include("../../partials/header") %>
<%- include("../../partials/sidebar") %>
        <div class="col-10 py-3">
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <h1>การแข่งขันปิงปอง ประจำปี 2565</h1>
    <hr style="height:2px;border-width:0;color:gray;background-color:gray">
    <form action="/tnmcheck/candidate/page" method="post">
        <div class="form-group">
            <label>ชื่อ:</label>
            <input type="text" class="form-control" name="name" required>
        </div>
            <div class="form-group">
                <label>นามสกุล:</label>
                <input type="text" class="form-control" name="name" required>
            </div>
            <div class="form-group">
                <label>เพศ:</label>
                <input type="text" class="form-control" name="name" required>
            </div>
            <div class="form-group">
                <label>วัน/เดือน/ปี:</label>
                <input type="date" class="form-control" name="name" required>
            </div>
            <div class="form-group">
                <label>เบอร์โทร:</label>
                <input type="text" class="form-control" name="name" required>
            </div>
            <div class="form-group">
                <label>อีเมล:</label>
                <input type="email" class="form-control" name="name" required>
            </div>
            <div class="form-group">
                <label>มหาวิทยาลัย:</label>
                <input type="text" class="form-control" name="name" required>
            </div>
            <div class="form-group">
                <label>คณะ:</label>
                <input type="text" class="form-control" name="name" required>
            </div>
            <div class="form-group">
                <label>เลขประจำตัวประชาชน:</label>
                <input type="text" class="form-control" name="name" required>
            </div>
            <div class="form-group">
                <label>รหัสนักศึกษา:</label>
                <input type="text" class="form-control" name="name" required>
            </div>
            <div class="form-group">
                <label>เอกสารยืนยันตัวตน:</label>
                <input type="file" class="form-control" name="name" required>
            </div>
</body>
</html>
</div>
