<%- include("../partials/header") %>
<%- include("../partials/sidebar") %>
        <div class="col-10 py-3 mx-auto">

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>

</head>
<body>

    <h1>หน้าจัดสายการแข่งขัน <%= data[0].tnmName %></h1>

        <%- include("../partials/menu_staff.ejs") %>

          
</body>
</html>
</div>