<%- include("../partials/header") %>
<%- include("../partials/sidebar") %>
        <div class="col-10 py-3 mx-auto">

<!DOCTYPE html>
<html lang="en">
<head>
    <title>match</title>
</head>
<body>
    <h1>หน้าแมตช์การแข่งขัน <%= data[0].tnmName %></h1>
    <%- include("../partials/menu_staff.ejs") %>
            

        <div class="card-body">


             <!-- if result is empty-->
             <% if(data.length) { %>
                <h4 class="text-center" style="margin-top: 50px;">ไม่พบรายการ</h4>
            <% } %>
            
        </div>

</body>
</html>
</div>