<%- include('../partials/header.ejs') %><!-- nav top -->
    <%- include('../partials/sidebar.ejs') %> <!-- nav side -->
        <div class="col-10 py-3"> <!-- box content -->
            <!DOCTYPE html>
            <html lang="en">

            <head>
                <meta charset="UTF-8">
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <title>Document</title>
            </head>

            <body>

            </body>

            </html>
        </div>